config/dev.yml
config/private.yml
releases/*.tgz
dev_releases
blobs
.blobs
.dev_builds
.idea
.final_builds/
.final_builds/
.dev_builds/
releases/
.DS_Store
*.swp
*~
*#
#*
pkg/

tests/creds.yml
tests/state.json
